:root {
    --body: #fdfeff;
    --box: #78b7d4;
    --cor_de_texto: #ffffff;
    --borda: #c2fafc;
    --header: #78b7d4;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    background-color: var(--body);
    color: var(--cor_de_texto);
}

header {
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'OCR A Std', monospace;
    border: 3px solid var(--header);
    background-color: var(--header);
    border-radius: 0px;
    padding: 10px 0; 
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
}

.titulo h1 {
    color: var(--cor_de_texto);
    margin: 0; 
}

#idx1 {
    background-color: var(--box);
    text-align: center;
    margin-top: 0px;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    height: auto;
}

#imagem-idx1 img {
    border-radius: 8px;
    max-width: 100%;
    height: 400px;
    width: 500px;
    margin: 25px 0 30px 0;
}

button {
    background-color: var(--box);
    color: var(--cor_de_texto);
    border: 1px solid var(--borda);
    padding: 12px 22px;
    font-size: 15px;
    border-radius: 11px;
    cursor: grab;
}

button:hover {
    border: 1px solid var(--cor_de_texto);
}
